:root {
  --bg-main: rgb(203 213 225);
  --card-main: rgb(241 245 249);
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --card-shadow-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  --color-primary: rgb(185 28 28);
  --border-primary: rgb(163 163 163);
}

:root.dark {
  --bg-main: rgb(31 41 55);
  --card-main: rgb(55 65 81);
  --card-shadow: box-shadow:
    0px 16px 24px 2px hsla(255, 255%, 255%, 0.014),
    0px 6px 30px 5px hsla(255, 255%, 255%, 0.02),
    0px 8px 10px -5px hsla(255, 255%, 255%, 0.02);
  --card-shadow-hover: 
    0px 16px 24px 2px hsla(255, 255%, 255%, 0.022),
    0px 6px 30px 5px hsla(255, 255%, 255%, 0.03),
    0px 8px 10px -5px hsla(255, 255%, 255%, 0.03);
  --color-primary: rgb(52 211 153);
  --border-primary: rgb(245 245 245);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--bg-main);
  margin: 0;
  width: 100vw;
  height:100vh;
  display: grid;
  place-items: center;
}

.card {
  border-radius: 8px;
  border: 1px solid --border-primary;
  background-color: var(--card-main);
  box-shadow:var(--card-shadow);
  padding: 10px 20px;
}

.card:hover {
  box-shadow: var(--card-shadow-hover);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: fit-content;
  margin:0 auto 0;
}

.field {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 1px solid darkgray;
  background: #ece5e5;
}

.pressed {
  background: #e6d9d9;
}

.unrevealed {
  color: rgba(0, 0, 0, 0) !important;
  background: lightgray;
}

.unrevealed:hover {
  background: #e6d9d9;
}

.unrevealed.flagged {
  background-color: lightgray;
  background-image: url(../images/flagpng.png);
  background-position: center;
  background-repeat: no-repeat;
}

.floater-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--color-primary);
  font-size: 32px;
  width: 420px;
}

.floater-wrapper-bottom {
  font-size: 35px;
  line-height: 50px;
}

.floater-right {
  text-align: right;
  text-decoration: none;
}

.floater-mid {
  text-align: center;
  cursor: pointer;
}

.floater-small {
  font-size: 16px;
}
