:root {
  --bg-main: rgb(203 213 225);
  --card-main: rgb(241 245 249);
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --card-shadow-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  --color-primary: rgb(185 28 28);
  --border-primary: rgb(163 163 163);
}

:root.dark {
  --bg-main: rgb(31 41 55);
  --card-main: rgb(55 65 81);
  --card-shadow: box-shadow:
    0px 16px 24px 2px hsla(255, 255%, 255%, 0.014),
    0px 6px 30px 5px hsla(255, 255%, 255%, 0.02),
    0px 8px 10px -5px hsla(255, 255%, 255%, 0.02);
  --card-shadow-hover: 
    0px 16px 24px 2px hsla(255, 255%, 255%, 0.022),
    0px 6px 30px 5px hsla(255, 255%, 255%, 0.03),
    0px 8px 10px -5px hsla(255, 255%, 255%, 0.03);
  --color-primary: rgb(52 211 153);
  --border-primary: rgb(245 245 245);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--bg-main);
  margin: 0;
  width: 100vw;
  height:100vh;
  display: grid;
  place-items: center;
}

.card {
  border-radius: 8px;
  border: 1px solid --border-primary;
  background-color: var(--card-main);
  box-shadow:var(--card-shadow);
  padding: 10px 20px;
}

.card:hover {
  box-shadow: var(--card-shadow-hover);
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: fit-content;
  margin:0 auto 0;
}

.field {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 1px solid darkgray;
  background: #ece5e5;
}

.pressed {
  background: #e6d9d9;
}

.unrevealed {
  color: rgba(0, 0, 0, 0) !important;
  background: lightgray;
}

.unrevealed:hover {
  background: #e6d9d9;
}

.unrevealed.flagged {
  background-color: lightgray;
  background-image: url(../images/flagpng.png);
  background-position: center;
  background-repeat: no-repeat;
}

.floater-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--color-primary);
  font-size: 32px;
  width: 420px;
  padding: 10px 0;
}

.floater-wrapper-bottom {
  font-size: 35px;
  line-height: 50px;
}

.floater-right {
  text-align: right;
  text-decoration: none;
}

.floater-mid {
  text-align: center;
  cursor: pointer;
}

.floater-small {
  font-size: 16px;
}

/* Settings styles */
#options {
  position: relative;
}

.radio {
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio__span {
  color: #949494;
  font-size: 18px;
  line-height: 23px;
  transition: 0.3s;
  margin-right: 10px;
}

.radio__toggle {
  position: absolute;
  right: 0;
  min-width: 51px;
  max-width: 51px;
  height: 25px;
  margin: 0;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  border: 2px solid #D6D9E0;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radio__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  background-color: #eb8d8d;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.radio__toggle:checked::after {
  transform: translateX(calc(100% + 2px));
  left: initial;
  background-color: lightgreen;
}

.radio__toggle:checked + .radio__span {
  color: rgba(255,255,255, 0.7);
}
